

 <ion-tabs class="tabs-icon-top">  
  <ion-tab title="Recomendado" icon-off="ion-calendar" icon-on="ion-calendar" href="/tab/listagem">
    <ion-nav-view name="tab-listagem"></ion-nav-view>    
  </ion-tab> 
   <ion-tab title="Explorar"  icon-off="ion-search" icon-on="ion-search" href="/tab/explorar">
    <ion-nav-view name="tab-explorar"></ion-nav-view>    
  </ion-tab> 
  <ion-tab title="Mapa" icon-off="ion-location" icon-on="ion-location" href="/tab/mapa">
    <ion-nav-view name="tab-mapa"></ion-nav-view>    
  </ion-tab> 
   <ion-tab title="Perfil" icon-off="ion-person" icon-on="ion-person" href="/tab/perfil">
    <ion-nav-view name="tab-perfil"></ion-nav-view>
  </ion-tab>  



