<ion-view >
    <ion-content class="perfil">
      <div class="div-perfil">
          <div class="div-nome">
            <h3 class="nome-perfil">{{user.name}}</h3> 
            <p class="configuracoes"><a>Configurações</a></p>
          </div>
          <img class="img-perfil" ng-src="{{user.picture || 'img/profile.jpeg'}}">
      </div>
      <div ng-if="listaEventos.length == 0">
        <p class="texto">você ainda não adicionou nenhum evento nos seus favoritos</p>
      </div>
      <div class="list card" ng-repeat="itemEvento in listaEventos" style="border: none; box-shadow: none;">
        
        <div class="item item-body" style="padding: 0;">
          <i class="ion-heart pull-right icone-favoritar favorito" ng-click="favoritar(itemEvento.id)"></i>
          <img class="full-image imagem-card" ng-click="detalhesEventos(itemEvento.id)" style="object-fit: cover;" ng-src="{{itemEvento.capa || 'http://www.smartkids.com.br/content/articles/images/768/thumb/festa-junina.png'}}">
          <div style="border-bottom: 1px solid #cccccc">
            <p class="nome-evento">{{itemEvento.nome}}</p>
          </div>
          <p class="lugar-evento">{{itemEvento.lugar.nome}}</p>
          <p class="data-evento"><b>{{itemEvento.diaInicio}}.{{itemEvento.mesInicio}}</b> {{itemEvento.horarioInicio}}</p>
        </div>
        
  
      </div>
    
      
    </ion-content>
  </ion-view>