.introducao{

    .btn-padrao{
        color: white;
        background-color: $cor4;
    }
    .slider-pager .slider-pager-page{
        color: $cor1;
    }
    .slider-pager .slider-pager-page.active{
        color: $cor4;
    }

    .height-slide{
        height: 440px;
    }

    .div-texto{
        height: 220px; 
        padding: 30px; 
        text-align: center;
    }
    .div-imagem{
        height: 220px; 
        padding: 30px; 
        text-align: center;
    }

}