.card-title {
    position: absolute;
    bottom: 290px;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    bottom: 450px;
    width: 100%;
    color: #fff;
  }
